{% macro render_field(field) %}
    {% if field.errors %}
        <div class="form-group has-error has-feedback" {{ kwargs.pop('class_', '') }}>
            <label class="control-label" for="inputSuccess">{{field.label}}</label>
            {{ field(class_='form-control', **kwargs) }}
            {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        <div class="form-group" {{ kwargs.pop('class_', '') }}>
            <label class="control-label" for="{{field.id}}">{{field.label}}</label>
            {{ field(class_='form-control', **kwargs) }}
        </div>
    {% endif %}
<!--




  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    {% for error in field.errors %}
      <p class="help-inline bg-danger">{{ error }}</p>
    {% endfor %}
  {% endif %}
  </dd>
  -->
{% endmacro %}

{% macro render_dropdown(field, datalist, list_name) %}
  {{ field.label }}
  {{ field(**kwargs)|safe }}
  <datalist id={{list_name}}>
      {% for i in datalist %}
      <option value="{{i}}">
      {% endfor %}
  </datalist>
{% endmacro %}
