{% extends "layout.html" %}

{% block body %}

  <div class="jumbotron text-center">
    <h1>Welcome to MangaManager</h1>
    <p class="lead">This application is built on the Python Flask framework to help create, manage and get updated on your favourite manga and their releases</p>
    <p class="lead">(Italy Only)</p>
    {% if session.logged_in == NULL %}
      <a href="/register" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-user"></span> Register</a>
      <a href="/login" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-log-in"></span> Login</a>
    {% endif %}
  </div>

{% endblock %}
