{% extends "layout.html" %}

{% block head %}
    <title>MangaManager: Releases</title>
    <link rel="stylesheet" type="text/css" href="/static/css/root.css">
    <link rel="stylesheet" type="text/css" href="/static/css/releases.css">
    <script src="/static/script/releases.js"></script>
{% endblock %}


{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for("index") }}">Home</a></li>
        <li class="active">Releases</li>
    </ol>
    <h2>Releases</h2>
    <p>List of all available Releases</p>

    {% for key,value in RELEASE_DICT.items() %}
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">{{HEADER[key]}}</div>
                <div class="panel-body">
                {% if value %}
                    <table class="table table_{{key}} table-condensed">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th></th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for r in value %}
                            <tr>
                                <td class='fixed_c'>
                                    <a data-toggle="popover" data-html="true" data-trigger="hover"
                                       data-content="<img class='pop_img' src='{{ r.cover }}'>">
                                            <strong>{{r.manga.title}} {{r.volume}}</strong>
                                    </a>
                                    {% if r.subtitle %}
                                    <br>
                                    <span class="text-muted">{{ r.subtitle }}</span>
                                    {% endif %}
                                </td>
                                <td>{{r.release_date|format_date}}</td>
                                <td class='price_{{key}}'>{{ r.price|format_price }} €</td>
                                <td>
                                {% if session.logged_in %}
                                    <a id="{{ r.release_id }}" data-week="{{ key }}"
                                       class="buy btn btn-link {% if key in ['next','future'] %} disabled {% endif %}">
                                        <span class='glyphicon glyphicon-shopping-cart'></span>
                                    </a>
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                            <tr>
                                <td></td>
                                <td><strong>Total =</strong></td>
                                <td id='sum_{{ key }}'>0.00 €</td>
                                {% if session.logged_in %}
                                    <td></td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                {% else %}
                    <div class="panel-body">Empty</div>
                {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}


