{% extends "layout.html" %}

{% block head %}
    <title>MangaManager: {{ MANGA.title }}</title>
    <script src="/static/script/manga_item.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/root.css">
    <link rel="stylesheet" type="text/css" href="/static/css/manga_item.css">
{% endblock %}


{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for("index") }}">Home</a></li>
        <li><a href="{{ url_for("manga") }}">Manga</a></li>
        <li class="active">{{ MANGA.title }}</li>
    </ol>

    <h3>{{ MANGA.title }}</h3>

    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#info" role="tab" data-toggle="tab">Information</a></li>
        <li><a href="#collection" role="tab" data-toggle="tab">Collection</a></li>
        <li><a href="#releases" role="tab" data-toggle="tab">Releases</a></li>
    </ul>
    <!-- TAB CONTENT -->
    <div class="tab-content">
        <div class="active tab-pane fade in" id="info">
            <div class="row">
                <div class="col-sm-3 cover">
                    <img class='img-thumbnail img-responsive center-block' src="{{ MANGA.cover }}" alt="{{ MANGA.title }}">
                </div>
                <div class="col-sm-9 info">
                    <div class="key text-primary"><strong>Original Title</strong></div>
                    <div class="content">{{ MANGA.original }}</div>
                    <div class="key text-primary"><strong>Status in Country of Origin</strong></div>
                    <div class="content">{{ MANGA.volumes }} Volumes  ({% if MANGA.complete %}Complete{% else %}Ongoing{% endif %})</div>
                    <div class="key text-primary"><strong>Released Volumes</strong></div>
                    <div class="content">{{ MANGA.released }} Volumes  ({{ MANGA.status.value }})</div>
                    <div class="key text-primary"><strong>Publisher</strong></div>
                    <div class="content">{{ MANGA.publisher.value }}</div>
                    <div class="key text-primary"><strong>Author(s)</strong></div>
                    <div class="content">{{ MANGA.authors|format_commas }}</div>
                    <div class="key text-primary"><strong>Artist(s)</strong></div>
                    <div class="content">{{ MANGA.artists|format_commas }}</div>
                    <div class="key text-primary"><strong>Genre</strong></div>
                    <div class="content">{{ MANGA.genre|format_commas }}</div>
                </div>

            </div>
        </div>
        <div class="tab-pane fade" id="collection">
            {% include 'item/collection.html' %}
        </div>
        <div class="tab-pane fade" id="releases">
            {% include 'item/releases.html' %}
        </div>
    </div>

{% endblock %}